.center.jumbotron
  h1
    | Orpheus
  h2
    |  Orpheus was a legendary musician, poet, and prophet in ancient Greek religion and myth. 
    a[href="https://en.wikipedia.org/wiki/Orpheus"]
      | Orpheus
  = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"
= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/'
