<div class="center jumbotron">
  <h1>Orpheus</h1>

  <h2>
    Orpheus was a legendary musician, poet, and prophet in ancient Greek religion and myth.
    <a href="https://en.wikipedia.org/wiki/Orpheus">Orpheus</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
