<% provide(:title, "Purchase") %>
<h1>Purchase</h1>
<%= form_tag '/purchases' %>
<script src="https://checkout.webpay.jp/v3/" class="webpay-button" data-key="test_public_5RMgzggHX2p63YU0odbBV6ri" data-lang="ja" value="決済！"></script>
